workspace/.metadata
workspace/.metadata/*
workspace/The RuleR Tool/Events/CloseFileTestCSV/CloseOpen5000000.txt
workspace/The RuleR Tool/Events/CloseFileTestCSV/CloseOpen50000000.txt
workspace/The RuleR Tool/*.txt